---
import NextJS from "./icons/NextJS.astro";
import Tailwind from "./icons/Tailwind.astro";
import Angular from "./icons/Angular.astro";
import type { Tags, ProjectProps } from "./ProjectsCard.astro";

import ProjectsCard from "./ProjectsCard.astro";
export const TAGS: Tags = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  ANGULAR: {
    name: "Angular",
    class: "bg-[#ca1f75] ",
    icon: Angular,
  },
};
export const PROJECTS_DATA: Array<ProjectProps> = [
  {
    title: "Citify - A free Citation Generator",
    description:
      "Academic citation generator. +5 supported citation styles. +200 citations created. is available in english and spanish. Built from scratch with Next.js, React and Tailwind CSS",
    link: "https://citify-jonniermartinez.vercel.app/en",
    github: "https://github.com/jonniermartinez/citify",
    image: "/projects/citify.png",
    tags: [TAGS.NEXT, TAGS.TAILWIND],
  },
  {
    title: "Dictionary App",
    description:
      "Dictionary Search Tool: +Word pronunciation included. +Customizable font and theme. Built from scratch with Angular and Tailwind CSS. Open source and available",
    link: "https://jonnier-dictionary.netlify.app/",
    github: "https://github.com/jonniermartinez/Angular-Dictionary",
    image: "https://imagenes.jonnier.com/493shots_so.png",
    tags: [TAGS.ANGULAR, TAGS.TAILWIND],
  },
];
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS_DATA.map(({ image, title, description, tags, link, github }) => (
      <ProjectsCard
        image={image}
        title={title}
        description={description}
        tags={tags}
        link={link}
        github={github}
      />
    ))
  }
</div>

<!-- 
   {
    title: "SVGL - A beautiful library with SVG logos",
    description:
      "Biblioteca des logos SVG de las marcas más populares. +10k visitas al mes. +2K svgs descargados. Creado desde cero con Next.js, React y Tailwind CSS.",
    link: "https://citify-jonniermartinez.vercel.app/en",
    github: "https://github.com/pheralb/svgl",
    image: "/projects/svgl.webp",
    tags: [TAGS.NEXT, TAGS.TAILWIND],
  },
 -->
