---
import GitHub from "./icons/GitHub.astro";
import Link from "./icons/Link.astro";
import LinkButton from "./LinkButton.astro";

export interface Tag {
  name: string;
  class: string;
  icon: any;
}

export interface Tags {
  NEXT: Tag;
  TAILWIND: Tag;
  ANGULAR: Tag;
}

export interface ProjectProps {
  image: string;
  title: string;
  description: string;
  tags: Array<Tag>;
  link: string;
  github?: string;
}

const { image, title, description, tags, link, github } = Astro.props;
---

<article
  class="group flex flex-col space-x-0 space-y-8 md:flex-row md:space-x-8 md:space-y-0"
>
  <div class="w-full md:w-1/2">
    <a href={link}>
      <div
        class="relative col-span-6 row-span-5 flex transform flex-col items-center gap-8 overflow-clip rounded-xl shadow-xl transition duration-500 ease-in-out sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50"
      >
        <img
          alt={title}
          class="h-56 w-full object-cover object-top transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
          loading="lazy"
          src={image}
        />
      </div>
    </a>
  </div>

  <div class="w-full md:w-1/2 md:max-w-lg">
    <h3 class="text-xl font-bold text-gray-100">
      {title}
    </h3>
    <div class="mt-2 flex flex-wrap">
      <ul class="mb-2 flex flex-row gap-x-2">
        {
          tags.map((tag: Tag) => (
            <li>
              <span
                class={`flex gap-x-2 rounded-full text-xs ${tag.class} px-2 py-1 `}
              >
                <tag.icon class=" h-4 w-4" />
                {tag.name}
              </span>
            </li>
          ))
        }
      </ul>

      <div class="mt-2 text-sm text-gray-400">{description}</div>
      <footer class="mt-4 flex items-end justify-start gap-x-4">
        {
          github && (
            <LinkButton href={github}>
              <GitHub class="h-4 w-4" target="_blank" />
              Code
            </LinkButton>
          )
        }
        {
          link && (
            <LinkButton href={link} target="_blank">
              <Link class="h-4 w-4" />
              Preview
            </LinkButton>
          )
        }
      </footer>
    </div>
  </div>
</article>
